---
import "~/styles/global.css";
import "@fontsource-variable/inter";
import "~/styles/bebasneue/bebasneue.css";
const { generator, site } = Astro;
import ParticipantForm from './participant-form.svelte'
import ButtonHandler from './button-handler.svelte'
const image = new URL("/optimized/ru-landing-bg.webp", site);
import { description, title } from "~/site";
---

<!doctype html>
<html
  lang="en"
  class="h-full font-Inter motion-safe:scroll-smooth"
  data-theme="dark"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <meta
      http-equiv="cache-control"
      content="no-cache, no-store, must-revalidate"
    />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head><body
    style="font-family: Bebas Neue;"
    class="h-full overflow-x-hidden bg-[#0D0D0F] text-base text-[#ECE8CF]"
  >
    <ParticipantForm client:load />
    <header
      class="fixed left-0 top- z-30 h-[100px] w-full bg-gradient-to-t from-[#01010100] to-[#010101]"
    >
      <div
        class="mx-auto px-4 sm:px-4 flex max-w-[1520px] items-center justify-between py-[20px]"
      >
        <svg
          class="sm:max-w-[121px]"
          xmlns="http://www.w3.org/2000/svg"
          width="216"
          height="64"
          viewBox="0 0 216 64"
          fill="none"
        >
          <path
            d="M0 0.0195611C10.9535 14.5526 21.5159 11.8924 40.1369 11.8924C41.5648 11.8924 42.445 13.4768 41.6821 14.6895C29.1051 36.8313 25.6822 28.401 44.2445 47.1394V64L23.4328 43.1883C21.5159 41.2714 21.1834 38.2787 22.6504 35.9902L29.3594 25.5257C30.0831 24.3912 29.2812 22.9046 27.9315 22.9046C9.46699 24.1369 5.73105 15.3154 0 0V0.0195611Z"
            fill="#FF2600"></path>
          <path
            d="M91.0128 0.0195611C80.0593 14.5526 69.4969 11.8924 50.8759 11.8924C49.448 11.8924 48.5678 13.4768 49.3307 14.6895C61.9077 36.8313 65.3307 28.401 46.7683 47.1394V64L67.5801 43.1883C69.4969 41.2714 69.8294 38.2787 68.3624 35.9902L61.6534 25.5257C60.9297 24.3912 61.7316 22.9046 63.0813 22.9046C81.5458 24.1369 85.2818 15.3154 91.0128 0V0.0195611Z"
            fill="#FF2600"></path>
          <path
            d="M99.0117 36.1458V12.5923C100.857 12.4784 104.183 12.2733 107.258 12.2733C112.952 12.2733 118.169 12.9112 118.169 18.3781C118.169 23.8451 116.87 22.4556 114.183 23.4806V23.549C117.121 24.3918 118.898 26.6697 118.898 29.2893C118.898 34.5285 114.957 36.4419 105.299 36.4419C95.6404 36.4419 100.538 36.2597 99.0117 36.123V36.1458ZM107.189 21.4533C109.855 21.4533 110.538 20.7244 110.538 19.5399C110.538 18.3554 109.604 17.9681 108.442 17.9681C107.28 17.9681 107.053 18.0364 106.529 18.082V21.4761H107.189V21.4533ZM110.971 28.6515C110.971 27.0797 109.672 26.5102 108.169 26.5102H106.529V30.6788C107.007 30.7244 107.508 30.6788 108.101 30.6788C110.265 30.6788 110.971 29.6993 110.971 28.6515Z"
            fill="white"></path>
          <path
            d="M120.538 12.3873H128.146V36.2597H120.538V12.3873Z"
            fill="white"></path>
          <path
            d="M130.195 31.9545L138.829 18.7882V18.6743H131.038L131.38 12.3873H148.327V16.9203L140.013 29.8816V29.9499H148.464L148.145 36.2369H130.195V31.9317V31.9545Z"
            fill="white"></path>
          <path
            d="M149.626 31.9545L158.259 18.7882V18.6743H150.469L150.811 12.3873H167.758V16.9203L159.444 29.8816V29.9499H167.895L167.576 36.2369H149.626V31.9317V31.9545Z"
            fill="white"></path>
          <path
            d="M168.875 24.369C168.875 17.7403 172.725 12 180.378 12C188.032 12 191.836 17.877 191.836 24.0501C191.836 30.2232 188.123 36.6241 180.378 36.6241C172.634 36.6241 168.875 30.8838 168.875 24.369ZM183.864 24.2779C183.864 20.041 182.634 18.082 180.378 18.082C178.123 18.082 176.848 19.8588 176.848 24.3007C176.848 28.7426 178.009 30.4738 180.378 30.4738C182.747 30.4738 183.864 28.697 183.864 24.2551V24.2779Z"
            fill="white"></path>
          <path
            d="M194.091 12.3873H202.907C204.729 16.3964 206.164 19.7221 208.123 24.8702H208.26L208.078 19.7677V12.3873H215.162V36.2597H207.053C201.813 25.9636 201.472 24.278 201.153 23.0934H201.039L201.176 28.2643V36.2597H194.091V12.3873Z"
            fill="white"></path>
          <path
            d="M99.0117 46.2825C99.0117 42.4328 101.586 40.2688 105.367 40.2688C109.148 40.2688 108.055 40.5194 108.761 40.8155L108.283 43.754C107.531 43.4807 106.734 43.2757 105.504 43.2757C104.274 43.2757 102.816 43.8907 102.816 46.1458C102.816 48.4009 103.932 49.0388 105.367 49.0388H105.549V47.7631H104.57L104.729 44.8702H109.08V51.4078C108.169 51.7039 106.506 52 105.23 52C100.492 52 99.0117 49.1982 99.0117 46.2825Z"
            fill="white"></path>
          <path
            d="M112.862 40.4283H117.737L120.812 51.8861H116.849L116.439 49.8588H114.024L113.637 51.8861H109.81L112.862 40.4283ZM115.915 47.057L115.277 43.7996L115.208 43.2529H115.186L115.14 43.7996L114.593 47.057H115.937H115.915Z"
            fill="white"></path>
          <path
            d="M121.927 40.4283H126.528L126.961 42.41L127.986 46.9203H128.009L129.034 42.41L129.467 40.4283H134.068L134.478 51.8861H131.061L130.993 48.3554L130.902 45.5535H130.856L129.512 51.8861H126.483L125.139 45.5535H125.093L125.002 48.3554L124.934 51.8861H121.517L121.927 40.4283Z"
            fill="white"></path>
          <path
            d="M136.051 40.4283H143.978L143.818 43.4123H139.718V44.5968H143.591L143.431 47.5581H139.718V48.8793H144.206L144.046 51.8861H136.074V40.4283H136.051Z"
            fill="white"></path>
          <path
            d="M145.23 51.4533L145.64 48.4237C146.506 48.7654 147.782 49.0388 148.852 49.0388C149.923 49.0388 149.991 48.9249 149.991 48.5604C149.991 47.3759 145.276 47.3759 145.276 43.8224C145.276 40.2688 147.258 40.2233 150.105 40.2233C152.952 40.2233 152.383 40.4283 153.249 40.7927L152.77 43.7312C152.064 43.5034 151.039 43.2301 150.037 43.2301C149.034 43.2301 148.921 43.3212 148.921 43.6857C148.921 44.7791 153.704 44.6652 153.704 48.287C153.704 51.9089 151.927 52 148.761 52C145.595 52 145.891 51.7039 145.185 51.385L145.23 51.4533Z"
            fill="white"></path>
        </svg>
        <nav class="font-Inter md:hidden sm:hidden">
          <ul class="flex space-x-[54px]">
            <li><a href="#main">Главная</a></li>
            <li><a href="#presentation">Презентация</a></li>
            <li><a href="#contacts">Контакты</a></li>
          </ul>
        </nav>
        <div class="flex items-center space-x-6">
          <a
            target="_blank"
            href="https://t.me/BIZZONGames"
            class="sm:hidden cursor-pointer transition-all hover:opacity-70 active:scale-95"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="49"
              height="49"
              viewBox="0 0 49 49"
              fill="none"
            >
              <path
                d="M24.293 0.500977C37.4543 0.500977 48.293 11.3397 48.293 24.501C48.293 37.759 37.4543 48.501 24.293 48.501C11.0349 48.501 0.292969 37.759 0.292969 24.501C0.292969 11.3397 11.0349 0.500977 24.293 0.500977ZM35.3252 16.8558C35.422 16.5655 35.422 16.2752 35.3252 15.8881C35.3252 15.6945 35.1317 15.4042 35.0349 15.3074C34.7446 15.0171 34.2607 15.0171 34.0672 15.0171C33.1962 15.0171 31.7446 15.501 25.0672 18.3074C22.7446 19.2752 18.0994 21.2107 11.1317 24.3074C9.97039 24.7913 9.38974 25.1784 9.29297 25.6623C9.19619 26.4365 10.4543 26.7268 11.9059 27.2107C13.1639 27.5978 14.8091 28.0816 15.6801 28.0816C16.4543 28.0816 17.3252 27.7913 18.293 27.1139C24.7768 22.6623 28.1639 20.4365 28.3575 20.4365C28.551 20.4365 28.7446 20.3397 28.8414 20.4365C29.0349 20.63 29.0349 20.8236 28.9381 20.9203C28.8414 21.4042 22.7446 27.0171 22.3575 27.4042C21.0026 28.759 19.4543 29.63 21.8736 31.1784C23.9059 32.5332 25.0672 33.4042 27.1962 34.759C28.551 35.63 29.6155 36.6945 30.9704 36.5978C31.6478 36.501 32.3252 35.9203 32.6156 34.0816C33.4865 29.9203 35.0349 20.63 35.3252 16.8558Z"
                fill="white"></path>
            </svg></a
          >
          <a
            target="_blank"
            href="https://x.com/bizzongames"
            class="sm:hidden cursor-pointer transition-all hover:opacity-70 active:scale-95"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="48"
              height="48"
              viewBox="0 0 48 48"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48ZM37.227 10.5H32.6268L25.0464 19.1275L18.4924 10.5H9L20.342 25.2669L9.59241 37.5H14.1954L22.4919 28.0611L29.7426 37.5H39L27.1769 21.9369L37.227 10.5ZM33.5613 34.7585H31.0122L14.372 13.0975H17.1074L33.5613 34.7585Z"
                fill="white"></path>
            </svg></a
          >
          <ButtonHandler classes="ml-6" client:load>
            <button
              class="anim-btn flex sm:text-[16px] items-center rounded-[12px] bg-[#ECE8CF] px-[48px] pb-[12px] pt-[16px] text-[24px] font-bold leading-[120%] text-[#2A2A2A]"
            >
              <span> Принять учаcтие</span>
            </button>
          </ButtonHandler>
        </div>
      </div>
    </header>
    <!-- main -->
    <section id="main"
      class="flex h-[90vh] items-end justify-center lg:bg-[url(/optimized/ru-landing-bg.webp)] 3xl:bg-[url(/optimized/ru-landing-bg.webp)] xl:bg-[url(/optimized/ru-landing-bg.webp)] bg-[url(/optimized/md-ru-landing-bg.webp)] bg-cover bg-center md:bg-top"
    >
      <div
        class="w-full  bg-gradient-to-b from-[#0D0D0F00] to-[#0D0D0F] pt-[190px]"
      >
        <div class="flex justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="217"
            height="76"
            viewBox="0 0 217 76"
            fill="none"
          >
            <path
              d="M0.128906 0.0230739C13.0495 17.166 25.5087 14.0281 47.4737 14.0281C49.158 14.0281 50.1963 15.897 49.2965 17.3275C34.4608 43.4456 30.4231 33.5013 52.319 55.6048V75.4933L27.7698 50.9442C25.5087 48.683 25.1165 45.153 26.8469 42.4535L34.7608 30.1097C35.6145 28.7714 34.6685 27.0179 33.0765 27.0179C11.296 28.4715 6.88916 18.0658 0.128906 0V0.0230739Z"
              fill="#ECE8CF"></path>
            <path
              d="M107.485 0.0230739C94.5644 17.166 82.1052 14.0281 60.1402 14.0281C58.4559 14.0281 57.4176 15.897 58.3174 17.3275C73.1531 43.4456 77.1908 33.5013 55.2949 55.6048V75.4933L79.8441 50.9442C82.1052 48.683 82.4974 45.153 80.767 42.4535L72.8531 30.1097C71.9994 28.7714 72.9454 27.0179 74.5374 27.0179C96.3179 28.4715 100.725 18.0658 107.485 0V0.0230739Z"
              fill="#ECE8CF"></path>
            <path
              d="M99.2251 59.3889V35.5319C101.094 35.4165 104.463 35.2088 107.577 35.2088C113.345 35.2088 118.629 35.8549 118.629 41.3923C118.629 46.9297 117.314 45.5223 114.591 46.5605V46.6298C117.568 47.4834 119.367 49.7907 119.367 52.444C119.367 57.7507 115.376 59.6888 105.593 59.6888C95.8104 59.6888 100.771 59.5042 99.2251 59.3658V59.3889ZM107.508 44.5071C110.208 44.5071 110.9 43.7688 110.9 42.569C110.9 41.3692 109.954 40.977 108.777 40.977C107.6 40.977 107.37 41.0462 106.839 41.0923V44.5302H107.508V44.5071ZM111.338 51.798C111.338 50.206 110.023 49.6292 108.5 49.6292H106.839V53.8515C107.324 53.8976 107.831 53.8515 108.431 53.8515C110.623 53.8515 111.338 52.8593 111.338 51.798Z"
              fill="#ECE8CF"></path>
            <path
              d="M121.027 35.3241H128.734V59.5042H121.027V35.3241Z"
              fill="#ECE8CF"></path>
            <path
              d="M130.808 55.1435L139.553 41.8075V41.6922H131.662L132.008 35.3241H149.174V39.9156L140.752 53.0438V53.1131H149.312L148.989 59.4811H130.808V55.1204V55.1435Z"
              fill="#ECE8CF"></path>
            <path
              d="M150.492 55.1435L159.237 41.8075V41.6922H151.346L151.692 35.3241H168.858V39.9156L160.436 53.0438V53.1131H168.996L168.673 59.4811H150.492V55.1204V55.1435Z"
              fill="#ECE8CF"></path>
            <path
              d="M169.988 47.4603C169.988 40.7462 173.887 34.9319 181.639 34.9319C189.392 34.9319 193.245 40.8847 193.245 47.1373C193.245 53.39 189.484 59.8734 181.639 59.8734C173.795 59.8734 169.988 54.0591 169.988 47.4603ZM185.17 47.368C185.17 43.0765 183.924 41.0923 181.639 41.0923C179.355 41.0923 178.063 42.892 178.063 47.3911C178.063 51.8902 179.24 53.6438 181.639 53.6438C184.039 53.6438 185.17 51.8441 185.17 47.345V47.368Z"
              fill="#ECE8CF"></path>
            <path
              d="M195.529 35.3241H204.458C206.304 39.3849 207.757 42.7535 209.741 47.9679H209.88L209.695 42.7996V35.3241H216.871V59.5042H208.657C203.35 49.0754 203.004 47.368 202.681 46.1682H202.566L202.704 51.4057V59.5042H195.529V35.3241Z"
              fill="#ECE8CF"></path>
            <path
              d="M99.2251 69.656C99.2251 65.7567 101.832 63.5649 105.662 63.5649C109.492 63.5649 108.385 63.8187 109.1 64.1186L108.616 67.095C107.854 66.8181 107.047 66.6104 105.801 66.6104C104.555 66.6104 103.078 67.2334 103.078 69.5176C103.078 71.8018 104.209 72.4478 105.662 72.4478H105.847V71.1557H104.855L105.016 68.2255H109.423V74.8473C108.5 75.1473 106.816 75.4472 105.524 75.4472C100.725 75.4472 99.2251 72.6093 99.2251 69.656Z"
              fill="#ECE8CF"></path>
            <path
              d="M113.251 63.7263H118.188L121.303 75.3318H117.289L116.873 73.2783H114.428L114.035 75.3318H110.159L113.251 63.7263ZM116.343 70.4404L115.697 67.141L115.627 66.5873H115.604L115.558 67.141L115.004 70.4404H116.366H116.343Z"
              fill="#ECE8CF"></path>
            <path
              d="M122.437 63.7264H127.097L127.536 65.7337L128.574 70.3021H128.597L129.635 65.7337L130.074 63.7264H134.734L135.15 75.3319H131.689L131.62 71.7556L131.527 68.9177H131.481L130.12 75.3319H127.051L125.69 68.9177H125.644L125.552 71.7556L125.482 75.3319H122.021L122.437 63.7264Z"
              fill="#ECE8CF"></path>
            <path
              d="M136.741 63.7263H144.77L144.608 66.7488H140.455V67.9486H144.378L144.216 70.948H140.455V72.2862H145.001L144.839 75.3318H136.764V63.7263H136.741Z"
              fill="#ECE8CF"></path>
            <path
              d="M146.04 74.8934L146.455 71.8248C147.332 72.1709 148.624 72.4477 149.708 72.4477C150.793 72.4477 150.862 72.3324 150.862 71.9632C150.862 70.7634 146.086 70.7634 146.086 67.1641C146.086 63.5648 148.093 63.5187 150.977 63.5187C153.861 63.5187 153.285 63.7263 154.161 64.0955L153.677 67.0718C152.962 66.8411 151.923 66.5643 150.908 66.5643C149.893 66.5643 149.778 66.6565 149.778 67.0257C149.778 68.1332 154.623 68.0178 154.623 71.6863C154.623 75.3549 152.823 75.4472 149.616 75.4472C146.409 75.4472 146.709 75.1472 145.994 74.8242L146.04 74.8934Z"
              fill="#ECE8CF"></path>
          </svg>
        </div>
        <div class="text-center text-[128px] sm:text-[64px] font-bold uppercase">
          14:00, Mocква
        </div>
        <div class="hidden mb-[-50px] md:flex sm:flex sm:px-4 justify-center">
          <ButtonHandler client:load>
            <button
              class="anim-btn sm:w-full sm:justify-center flex items-center rounded-[12px] bg-[#ECE8CF] px-[48px] pb-[10px] pt-[14px] text-[24px] font-bold leading-[120%] text-[#2A2A2A]"
            >
              <span> Принять учаcтие</span>
            </button>
          </ButtonHandler>
        </div>
      </div>
    </section>
    <!--  bizzon -->
    <section class="mx-auto px-4 sm:overflow-hidden sm:relative md:mb-[-100px] md:mt-[120px] sm:mt-[100px] md:px-4 sm:px-4 md:flex-wrap sm:flex-wrap flex max-w-[1512px] items-center py-[70px]">
      <div class="w-[50%] md:w-[60%] sm:w-full shrink-0">
        <div class="text-[96px] md:text-[64px] sm:text-[48px] font-bold uppercase leading-[100%]">
          Открой дверь в мир Web3 и GameFi вместе с BIZZON GAMES
        </div>
        <div class="font-Inter sm:mt-6 text-[24px] md:text-[16px] sm:text-[16px] leading-[140%] text-[#6B7476]">
          Приглашаем Вас на презентацию революционного продукта в мире DeFi-игр
        </div>
        <ButtonHandler client:load>
            <button
              class="sm:absolute sm:bottom-0 sm:w-[90%] sm:justify-center sm:translate-x-[-50%] sm:left-[50%] anim-btn mt-[48px] flex items-center rounded-[12px] bg-[#ECE8CF] px-[48px] sm:pt-[14px] sm:pb-[10px] pb-[16px] pt-[20px] text-[24px] font-bold leading-[120%] text-[#2A2A2A]"
            >
              <span> Принять учаcтие</span>
            </button>
        </ButtonHandler>
      </div>
      <img
        class="w-full md:translate-x-[30%] md:translate-y-[-30%] sm:translate-x-[30%] sm:translate-y-[-00%] translate-x-[-20%]"
        src="/optimized/bizzon.webp"
        alt=""
      />
    </section>
    <!-- presentation -->
    <section id="presentation" class="relative px-4">
      <svg
        class="absolute md:hidden sm:hidden left-[39%] top-0 max-w-[1512px] translate-x-[-50%]"
        width="1654"
        height="1726"
        viewBox="0 0 1654 1726"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_f_106_52)">
          <ellipse
            cx="826.742"
            cy="862.956"
            rx="440.452"
            ry="632.094"
            transform="rotate(-39.4494 826.742 862.956)"
            fill="#FF2600"
            fill-opacity="0.2"></ellipse>
        </g>
        <defs>
          <filter
            id="filter0_f_106_52"
            x="0.438965"
            y="0.225586"
            width="1652.6"
            height="1725.46"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="150"
              result="effect1_foregroundBlur_106_52"></feGaussianBlur>
          </filter>
        </defs>
      </svg>

      <div class="mx-auto sm:mt-[90px] max-w-[1512px] md:px-4 sm:px-4">
        <div
          class="max-w-[795px] text-[150px] md:text-[96px] sm:text-[64px] font-bold leading-[100%] text-[#FF2600]"
        >
          Что будет на презентации
        </div>
        <div class="text-[48px] sm:text-[32px] font-bold text-[#FF2600]">
          Вместе с CEO и Co-Founders вы:
        </div>
        <div>
          <ol
            class="mt-[64px] md:mt-[36px] sm:mt-[36px]  space-y-12 md:space-y-6 sm:space-y-5 pl-20 md:pl-14 sm:pl-10 text-[64px] sm:text-[24px] md:text-[40px] font-bold leading-[120%]"
          >
            <li class="border-b-2 border-[#ECE8CF] pb-6 md:pb-4 sm:pb-4" type="1">
              Первыми узнаете о возможностях нашей инновационной платформы
            </li>
            <li class="border-b-2 border-[#ECE8CF] pb-6 md:pb-4 sm:pb-4" type="1">
              Познакомьтесь с ведущими разработчиками Bizzon Games
            </li>
            <li class="border-b-2 border-[#ECE8CF] pb-6 md:pb-4 sm:pb-4" type="1">
              Получите эксклюзивный доступ к  первой игре от наших команды
            </li>
            <li class="border-b-2 border-[#ECE8CF] pb-6 md:pb-4 sm:pb-4" type="1">
              Окажитесь в кругу единомышленников, интересующихся Web3 и GameFi
            </li>
            <li class="border-b-2 border-[#ECE8CF] pb-6 md:pb-4 sm:pb-4" type="1">
              Получите привилегированное право на раннее участие в проекте
            </li>
          </ol>
        </div>
      </div>
    </section>
    <!-- ??? -->
    <section
      class="relative border-b border-[#2A2A2A] sm:overflow-hidden flex h-[100vh] flex-wrap items-center justify-center"
    >
      <svg
        class="absolute md:max-w-[1500px] sm:max-w-[1000px] md:top-[-10%] top-0 sm:top-[-10%]"
        width="2168"
        height="1275"
        viewBox="0 0 2168 1275"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_f_109_32)">
          <ellipse
            cx="1084"
            cy="637.5"
            rx="684"
            ry="237.5"
            fill="#FF2600"
            fill-opacity="0.2"></ellipse>
        </g>
        <defs>
          <filter
            id="filter0_f_109_32"
            x="0"
            y="0"
            width="2168"
            height="1275"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="200"
              result="effect1_foregroundBlur_109_32"></feGaussianBlur>
          </filter>
        </defs>
      </svg>

      <div class="z-[1]">
        <div
          class="mx-auto w-full max-w-[1137px] md:max-w-[700px] sm:max-w-[90%] text-center text-[96px] md:text-[48px] sm:text-[36px] font-bold leading-[100%] text-[#FF2600]"
        >
          Bizzon Games - открывает новые возможности для разработчиков и
          пользователей WEB3 игр
        </div>
        <ButtonHandler client:load>
          <button
            class="anim-btn mx-auto mt-[48px] flex items-center rounded-[12px] bg-[#ECE8CF] px-[48px] pb-[16px] pt-[20px] text-[24px] font-bold leading-[120%] text-[#2A2A2A]"
          >
            <span> Принять учаcтие</span>
          </button>
        </ButtonHandler>
      </div>
    </section>
    <!--  -->
    <footer id="contacts" class="pb-[200px] pt-[50px] md:pb-[100px] sm:pb-[40px]">
      <div class="text-[96px] md:text-[64px] sm:text-[48px] font-bold text-[#B8C1C3] text-center">Контакты</div>
      <div class="flex space-x-6 justify-center mt-[45px]">
        <a
          target="_blank"
          href="https://t.me/BIZZONGames"
          class="cursor-pointer transition-all hover:opacity-70 active:scale-95"
        >
          <svg
            class="sm:max-w-[48px]"
            width="65"
            height="65"
            viewBox="0 0 65 65"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M32.3906 0.667969C49.939 0.667969 64.3906 15.1196 64.3906 32.668C64.3906 50.3454 49.939 64.668 32.3906 64.668C14.7132 64.668 0.390625 50.3454 0.390625 32.668C0.390625 15.1196 14.7132 0.667969 32.3906 0.667969ZM47.1003 22.4744C47.2293 22.0873 47.2293 21.7002 47.1003 21.1841C47.1003 20.926 46.8422 20.5389 46.7132 20.4099C46.3261 20.0228 45.6809 20.0228 45.4229 20.0228C44.2616 20.0228 42.3261 20.668 33.4229 24.4099C30.3261 25.7002 24.1326 28.2809 14.8422 32.4099C13.2939 33.0551 12.5197 33.5712 12.3906 34.2164C12.2616 35.2486 13.939 35.6357 15.8745 36.2809C17.5519 36.797 19.7455 37.4422 20.9068 37.4422C21.939 37.4422 23.1003 37.0551 24.3906 36.1518C33.0358 30.2164 37.5519 27.2486 37.81 27.2486C38.068 27.2486 38.3261 27.1196 38.4551 27.2486C38.7132 27.5067 38.7132 27.7647 38.5842 27.8938C38.4551 28.5389 30.3261 36.0228 29.81 36.5389C28.0035 38.3454 25.939 39.5067 29.1648 41.5712C31.8745 43.3776 33.4229 44.5389 36.2616 46.3454C38.068 47.5067 39.4874 48.926 41.2938 48.797C42.1971 48.668 43.1003 47.8938 43.4874 45.4422C44.6487 39.8938 46.7132 27.5067 47.1003 22.4744Z"
              fill="white"></path>
          </svg>
        </a>
        <a
          target="_blank"
          href="https://x.com/bizzongames"
          class="cursor-pointer transition-all hover:opacity-70 active:scale-95"
        >
          <svg
            class="sm:max-w-[48px]"
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            viewBox="0 0 64 64"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M32 64C49.6731 64 64 49.6731 64 32C64 14.3269 49.6731 0 32 0C14.3269 0 0 14.3269 0 32C0 49.6731 14.3269 64 32 64ZM49.6359 14H43.5023L33.3953 25.5034L24.6566 14H12L27.1226 33.6892L12.7899 50H18.9272L29.9892 37.4148L39.6568 50H52L36.2359 29.2492L49.6359 14ZM44.7483 46.3446H41.3497L19.1627 17.4634H22.8098L44.7483 46.3446Z"
              fill="white"></path>
          </svg>
        </a>
      </div>
      <div class="flex justify-center mt-[80px]">
        <svg class="md:max-w-[212px] sm:max-w-[180px]"width="279" height="83" viewBox="0 0 279 83" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.209961 0.0253034C14.379 18.8246 28.042 15.3835 52.1293 15.3835C53.9763 15.3835 55.1149 17.433 54.1281 19.0017C37.8591 47.6433 33.4312 36.7382 57.4427 60.9774V82.7875L30.5215 55.8664C28.042 53.3868 27.6118 49.5157 29.5095 46.5554L38.188 33.0189C39.1241 31.5514 38.0868 29.6284 36.341 29.6284C12.456 31.2224 7.62339 19.8113 0.209961 0V0.0253034Z" fill="#6B7476"/>
          <path d="M117.94 0.0253034C103.771 18.8246 90.1082 15.3835 66.0209 15.3835C64.1739 15.3835 63.0353 17.433 64.0221 19.0017C80.2911 47.6433 84.7189 36.7382 60.7075 60.9774V82.7875L87.6287 55.8664C90.1082 53.3868 90.5384 49.5157 88.6407 46.5554L79.9622 33.0189C79.026 31.5514 80.0634 29.6284 81.8092 29.6284C105.694 31.2224 110.527 19.8113 117.94 0V0.0253034Z" fill="#6B7476"/>
          <path d="M128.287 46.7568V16.289C130.674 16.1417 134.976 15.8765 138.954 15.8765C146.32 15.8765 153.068 16.7015 153.068 23.7733C153.068 30.8452 151.388 29.0477 147.911 30.3737V30.4621C151.713 31.5523 154.011 34.4989 154.011 37.8875C154.011 44.6647 148.913 47.1398 136.42 47.1398C123.926 47.1398 130.261 46.9041 128.287 46.7273V46.7568ZM138.865 27.7512C142.313 27.7512 143.197 26.8083 143.197 25.2761C143.197 23.7439 141.989 23.2429 140.486 23.2429C138.983 23.2429 138.689 23.3313 138.011 23.3903V27.7807H138.865V27.7512ZM143.757 37.0625C143.757 35.0293 142.077 34.2927 140.132 34.2927H138.011V39.6849C138.63 39.7439 139.278 39.6849 140.044 39.6849C142.843 39.6849 143.757 38.4179 143.757 37.0625Z" fill="#6B7476"/>
          <path d="M156.132 16.0234H165.974V46.9037H156.132V16.0234Z" fill="#6B7476"/>
          <path d="M168.625 41.3347L179.792 24.3034V24.156H169.715L170.157 16.0234H192.079V21.8872L181.324 38.6533V38.7417H192.256L191.844 46.8743H168.625V41.3052V41.3347Z" fill="#6B7476"/>
          <path d="M193.761 41.3347L204.928 24.3034V24.156H194.851L195.293 16.0234H217.216V21.8872L206.461 38.6533V38.7417H217.392L216.98 46.8743H193.761V41.3052V41.3347Z" fill="#6B7476"/>
          <path d="M218.659 31.5225C218.659 22.9479 223.639 15.5225 233.539 15.5225C243.44 15.5225 248.361 23.1247 248.361 31.1099C248.361 39.0952 243.558 47.3751 233.539 47.3751C223.521 47.3751 218.659 39.9497 218.659 31.5225ZM238.048 31.4046C238.048 25.9239 236.457 23.3899 233.539 23.3899C230.622 23.3899 228.972 25.6882 228.972 31.4341C228.972 37.1799 230.475 39.4193 233.539 39.4193C236.604 39.4193 238.048 37.121 238.048 31.3751V31.4046Z" fill="#6B7476"/>
          <path d="M251.278 16.0234H262.681C265.038 21.2094 266.895 25.5115 269.429 32.1708H269.606L269.37 25.5704V16.0234H278.534V46.9037H268.044C261.267 33.5851 260.825 31.4047 260.412 29.8724H260.265L260.442 36.5612V46.9037H251.278V16.0234Z" fill="#6B7476"/>
          <path d="M128.287 59.8679C128.287 54.8881 131.617 52.0889 136.508 52.0889C141.399 52.0889 139.985 52.413 140.899 52.796L140.28 56.5972C139.307 56.2436 138.276 55.9784 136.685 55.9784C135.094 55.9784 133.208 56.7739 133.208 59.6911C133.208 62.6082 134.652 63.4333 136.508 63.4333H136.744V61.7831H135.477L135.683 58.041H141.311V66.4977C140.132 66.8808 137.981 67.2638 136.331 67.2638C130.202 67.2638 128.287 63.6395 128.287 59.8679Z" fill="#6B7476"/>
          <path d="M146.204 52.2954H152.51L156.487 67.1168H151.36L150.83 64.4943H147.707L147.206 67.1168H142.255L146.204 52.2954ZM150.152 60.87L149.327 56.6564L149.239 55.9492H149.209L149.15 56.6564L148.443 60.87H150.182H150.152Z" fill="#6B7476"/>
          <path d="M157.929 52.2954H163.881L164.441 54.8589L165.767 60.6932H165.797L167.123 54.8589L167.683 52.2954H173.635L174.165 67.1168H169.745L169.657 62.5496L169.539 58.9252H169.48L167.741 67.1168H163.823L162.084 58.9252H162.025L161.907 62.5496L161.819 67.1168H157.399L157.929 52.2954Z" fill="#6B7476"/>
          <path d="M176.2 52.2954H186.454L186.248 56.1555H180.944V57.6877H185.953L185.747 61.5183H180.944V63.2273H186.748L186.542 67.1168H176.229V52.2954H176.2Z" fill="#6B7476"/>
          <path d="M188.074 66.557L188.604 62.638C189.724 63.08 191.374 63.4336 192.759 63.4336C194.144 63.4336 194.232 63.2863 194.232 62.8148C194.232 61.2826 188.133 61.2826 188.133 56.6859C188.133 52.0892 190.697 52.0303 194.38 52.0303C198.063 52.0303 197.326 52.2955 198.446 52.7669L197.827 56.568C196.914 56.2734 195.588 55.9198 194.291 55.9198C192.995 55.9198 192.848 56.0376 192.848 56.5091C192.848 57.9235 199.035 57.7761 199.035 62.4612C199.035 67.1463 196.737 67.2642 192.641 67.2642C188.546 67.2642 188.929 66.8811 188.015 66.4686L188.074 66.557Z" fill="#6B7476"/>
        </svg>
      </div>
    </footer>
  </body>
</html>
