---
import "@fontsource-variable/inter";
import "@fontsource/oxanium/500.css";
import "@fontsource/oxanium/600.css";
import "@fontsource/oxanium/800.css";
import "~/styles/global.css";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import { ViewTransitions } from "astro:transitions";
const { generator, site } = Astro;
const image = new URL("optimized/social.webp", site);
import {description, title} from '~/site'
---

<!doctype html>
<html
  lang="en"
  class="h-full bg-app-bg font-Inter motion-safe:scroll-smooth"
  data-theme="dark"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <meta
      http-equiv="cache-control"
      content="no-cache, no-store, must-revalidate"
    />
    <title>{title}</title>
    <meta name="description" content={description} />
    <ViewTransitions />
    <!-- social media -->
    <meta
      property="og:title"
      content={title}
    />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head><body class="overflow-x-hidden bg-[#0D0D0F] text-white">
    <Header />
    <div class="mx-auto select-none max-w-[912px] md:px-4 sm:px-4 pt-[150px]">
      <div class="text-[48px] md:text-[32px] sm:text-[24px] font-medium leading-[120%] max-w-[600px] uppercase">
        Bizzon Games Terms and Conditions
      </div>
      <div class="mt-6 text-[#B0B0B2]">
        These Terms and Conditions constitute the User Agreement and Terms of Service (the “Terms and Conditions”) between the User and BizzonGames (collectively, “Bizzon,” the “Site,” the “Platform”) and any individual, customer, or organization (collectively, the “User”) using the Site, tools, applications, and any products, features, and services provided therein (“Bizzon Services”). These Terms and Conditions do not create any agency relationship, partnership, or joint venture between Bizzon and the User. By registering an account through Bizzon.io or any related websites, APIs, or mobile applications, the User acknowledges that they have read and agree to these Terms and Conditions. The User also agrees to the BizzonGames Privacy Policy and User Behavior guidelines. These Terms and Conditions may be amended and updated from time to time at the sole discretion of BizzonGames. Revisions will be deemed effective as of the date and time of posting on the Bizzon.io Site.
      </div>

      <div class="mt-[150px] sm:mt-[100px]">
        <div class="text-[48px] md:text-[32px] sm:text-[24px] font-medium leading-[120%] max-w-[600px] uppercase">
          1. BIZZON SERVICES
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">1.1 BizzonGames Overview</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              BizzonGames is an aggregation platform utilizing decentralized solutions (blockchain and WEB3 technologies) and smart contracts that enable Users to own, buy, sell, transfer, and exchange unique digital assets, as well as earn rewards. These assets and rewards can be visualized on the BizzonGames website through the BizzonGames applications/site (Bizzon.io).
            </p>
          </div>
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">1.2 Bizzon GameHub</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              The Bizzon GameHub serves as the central platform where Users can access, explore, and engage with various gaming projects aggregated by BizzonGames. The GameHub connects Users with an array of gaming experiences, each utilizing blockchain technology to enhance gameplay and digital ownership.
            </p>
          </div>
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">1.3 Bizzon Rewards</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              Bizzon Rewards is a program designed to incentivize and reward active participation within the BizzonGames ecosystem. Users can earn rewards through various activities, including gameplay, staking, and contributing to the Bizzon community. These rewards are distributed in the form of digital assets, which can be used within the platform or traded on supported exchanges.
            </p>
          </div>
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">1.4 Bizzon Station</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              Bizzon Rewards is a program designed to incentivize and reward active participation within the BizzonGames ecosystem. Users can earn rewards through various activities, including gameplay, staking, and contributing to the Bizzon community. These rewards are distributed in the form of digital assets, which can be used within the platform or traded on supported exchanges.
            </p>
          </div>
        </div>
      </div>
      <div class="mt-[150px] sm:mt-[100px]">
        <div class="text-[48px] md:text-[32px] sm:text-[24px] font-medium leading-[120%] max-w-[600px] uppercase">
          2. PAYMENT TERMS
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">2.1 Payment Methods</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              BizzonGames can accept payments through various methods, including cryptocurrencies, credit cards, and other electronic payment systems as listed on the Site. The availability of payment methods may vary depending on the User’s location and the specific Bizzon Services being utilized.
            </p>
          </div>
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">2.2 Fees and Charges</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              Users are responsible for any fees associated with the use of Bizzon Services, including but not limited to transaction fees, service fees, and network fees. All fees are clearly outlined during the transaction process and must be paid in full before the corresponding services are provided.
            </p>
          </div>
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">2.3 Refund Policy</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              Due to the nature of digital assets and the blockchain environment, all transactions conducted on BizzonGames are final and non-refundable. Users should carefully review their transactions before confirming them on the Site.
            </p>
          </div>
        </div>
      </div>
      <div class="mt-[150px] sm:mt-[100px]">
        <div class="text-[48px] md:text-[32px] sm:text-[24px] font-medium leading-[120%] max-w-[600px] uppercase">
          3. USER OBLIGATIONS
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">3.1 Compliance with Laws</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              Users agree to comply with all applicable laws and regulations when using BizzonGames Services. This includes adhering to any local, state, national, and international laws that may apply to their activities on the Platform.
            </p>
          </div>
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">3.2 Account Security</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              Users are responsible for maintaining the security of their accounts, including keeping their passwords confidential and safeguarding any private keys associated with their digital wallets. BizzonGames is not responsible for any unauthorized access to User accounts resulting from User negligence.
            </p>
          </div>
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">3.3 Prohibited Activities</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              Users agree not to engage in any activities that may harm BizzonGames, its users, or third parties. This includes but is not limited to fraud, money laundering, hacking, spamming, and any activities that violate the intellectual property rights of others.
            </p>
          </div>
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">3.4 Reporting and Cooperation</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              Users must report any suspicious activities or security breaches related to their accounts to BizzonGames immediately. Users are also expected to cooperate with BizzonGames in any investigation related to violations of these Terms and Conditions.
            </p>
          </div>
        </div>
      </div>

      <div class="mt-[150px] sm:mt-[100px]">
        <div class="text-[48px] md:text-[32px] sm:text-[24px] font-medium leading-[120%] max-w-[600px] uppercase">
          4. TERMINATION
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">4.1 General Provisions</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              BizzonGames may unilaterally suspend or terminate the User's right to access or use the Bizzon Services immediately and without notice if: (i) BizzonGames determines that the User's use of the Platform Services poses a security risk to BizzonGames or any third party, may adversely affect BizzonGames, the Bizzon Services, or any other users of BizzonGames, or may expose BizzonGames, its affiliates, or any third party to liability, or may be fraudulent; (ii) the User violates these Terms and Conditions; (iii) the User initiates a chargeback or dispute with respect to any payment or purchase of Bizzon Services; (iv) the User ceases business as usual, makes an assignment for the benefit of creditors or similar disposition of assets, or is subject to any bankruptcy, reorganization, liquidation, dissolution, or similar proceeding; or (v) for any other reason at BizzonGames' sole discretion.
            </p>
          </div>
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">4.2 Consequences of Suspension</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              If BizzonGames suspends the User's right to access or use any part or all of the Bizzon Services, the User remains liable for all fees and charges incurred during the period of suspension, including any service fees and blockchain network/application/game transaction fees. The User’s suspension may also result in the loss of access to any results or rewards that occurred during the period of suspension. The User agrees to pay any fees charged by BizzonGames for reconnecting the Bizzon Services.
            </p>
          </div>
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">4.3 Consequences of Termination</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              If BizzonGames terminates the User's right to access or use any part or all of the Bizzon Services, all of the User's rights under these Terms shall immediately cease. The User remains liable for all fees due to BizzonGames that were incurred prior to the date of termination. Additionally, any digital assets, rewards, or data associated with the User's account may be forfeited.
            </p>
          </div>
        </div>
      </div>

      <div class="mt-[150px] sm:mt-[100px]">
        <div class="text-[48px] md:text-[32px] sm:text-[24px] font-medium leading-[120%] max-w-[600px] uppercase">
          5. GOVERNANCE
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">5.1 Advisory Board</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              BizzonGames may establish an advisory board composed of industry experts and community representatives. The advisory board may provide guidance and recommendations on the strategic direction and development of the BizzonGames platform.
            </p>
          </div>
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">5.2 Voting for Updates and Amendments</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              The Bizzon platform may implement voting protocols that allow Users to participate in decision-making processes related to updates and amendments to the Platform. These voting mechanisms will be governed by smart contracts and may be weighted based on the User's contributions to the Bizzon ecosystem.
            </p>
          </div>
        </div>
        <div class="mt-[50px] sm:mt-[30px]">
          <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">5.3 Community and Decentralized Innovation</div>
          <div class="mt-6 space-y-6 text-[#B0B0B2]">
            <p>
              BizzonGames encourages contributions from individuals and entities worldwide, including developers, marketers, ambassadors, advertisers, and service providers. Accepted amendments, updates, and innovations from the BizzonGames community may be rewarded with assets from BizzonGames. The platform aims to foster a collaborative environment where community-driven innovation is recognized and incentivized.
            </p>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>

