---
import "@fontsource-variable/inter";
import "@fontsource/oxanium/500.css"
import "@fontsource/oxanium/600.css"
import "@fontsource/oxanium/800.css"
import '~/styles/global.css'
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import JoinRequestModal from '~/components/join-request-modal.svelte'
import AuthModal from '~/components/auth/auth-modal.svelte'
import Roadmap from './roadmap.svelte'
const { generator, site } = Astro;
const image = new URL("optimized/social.webp", site);

const description = "AI based communication voice avatars, which can be used as different professional assistants – psychologist, fitness coach, nutrition counselor, Wide range of topics communicating Companion";
---

<!doctype html>
<html lang="en" class="h-full font-Inter motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <title>CompAI - your best AI generated friend</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="CompAI - your best AI generated friend" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  <body
    class="h-full overflow-x-hidden bg-[#0D0D0F] text-white text-base"
  >
    <Header transparent/>
    <!-- main -->
    <section class="px-10 min-h-[100vh] py-[100px] bg-[url(/game-project/optimized/landing-bg.webp)] bg-cover bg-center bg-no-repeat">
      <div class="relative max-w-[1520px] flex items-start justify-center h-[80vh] flex-col mx-auto z-10">
        <div class="text-[96px] font-Oxanium max-w-[809px] uppercase leading-[100%] app-text-gradient-bg">
          Station of your rewards
        </div>
        <div class="pb-12">A single platform for crypto-gaming: develop, explore, play and earn</div>
        <div class="flex items-start gap-4">
          <AuthModal isLanding client:only/>
          <div class="flex flex-col">
            <JoinRequestModal client:load />
            <span class="text-[14px] opacity-50 mt-3">For investors and developers</span>
          </div>
        </div>
      </div>
    </section>
    <!-- our games -->
    <section>
      <div class="relative pt-[130px] max-w-[1520px] mx-auto z-10">
        <div class="uppercase font-Oxanium text-[40px] font-medium">Our games</div>
        <div class="flex gap-4 mt-6">
          <img width="448" class="max-w-[448px] cursor-pointer hover:opacity-80 transition-all" src="/game-project/optimized/game-1.webp" alt="">
          <img width="448" class="max-w-[448px] cursor-pointer hover:opacity-80 transition-all" src="/game-project/optimized/game-2.webp" alt="">
          <img width="448" class="max-w-[448px] cursor-pointer hover:opacity-80 transition-all" src="/game-project/optimized/game-3.webp" alt="">
        </div>
      </div>
    </section>
    <!-- opportunity -->
   <section>
      <div class="relative mt-[130px] max-w-[1520px] mx-auto z-10">
        <div class="uppercase font-Oxanium text-[40px] font-medium">Opportunity</div>
        <div class="flex gap-4 pt-[16px]">
          <div class="w-full group card-gradient overflow-hidden transition-all rounded-[12px] relative bg-center min-h-[350px] bg-cover p-6" style="background-color: #1F2324;" >
            <div class="z-[2] text-[32px] group-hover:bg-none group-hover:hidden uppercase max-w-[319px] app-text-gradient-bg font-Oxanium leading-[120%] font-medium">Detailed analytics of each project</div>
            <div class="z-[2] text-[32px] group-hover:bg-none group-hover:block hidden uppercase max-w-[319px] font-Oxanium leading-[120%] font-medium">Detailed analytics of each project</div>
            <div class="z-[2] mt-6 max-w-[510px]">We give a detailed analysis of each project so that you can get not only pleasure, but also the maximum profit from the game</div>
            <img width="496" class="group-hover:left-[70%] group-hover:blur-[6px] group-hover:opacity-70 transition-all opacity-30 max-w-[496px] top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%] absolute z-[1]" src="/game-project/optimized/card-bg.webp" alt="">
          </div>
          <div class="w-full group card-gradient overflow-hidden transition-all rounded-[12px] relative bg-center min-h-[350px] bg-cover p-6" style="background-color: #1F2324;" >
            <div class="z-[2] text-[32px] group-hover:bg-none group-hover:hidden uppercase max-w-[349px] app-text-gradient-bg font-Oxanium leading-[120%] font-medium">In-house skilled development team</div>
            <div class="z-[2] text-[32px] group-hover:bg-none group-hover:block hidden uppercase max-w-[349px] font-Oxanium leading-[120%] font-medium">In-house skilled development team</div>
            <div class="z-[2] mt-6 max-w-[515px]">We have a team of developers with 15 years of experience. The team includes only professionals who are passionate about creating an excellent product</div>
            <img width="496" class="group-hover:left-[70%] group-hover:blur-[6px] group-hover:opacity-70 transition-all opacity-30 max-w-[496px] top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%] absolute z-[1]" src="/game-project/optimized/card-bg.webp" alt="">
          </div>
        </div>
        <div class="flex gap-4 pt-[16px]">
          <div class="w-full group card-gradient overflow-hidden transition-all rounded-[12px] relative bg-center min-h-[350px] bg-cover p-6" style="background-color: #1F2324;" >
            <div class="z-[2] text-[32px] group-hover:bg-none group-hover:hidden uppercase max-w-[419px] app-text-gradient-bg font-Oxanium leading-[120%] font-medium">Fair in-game economy</div>
            <div class="z-[2] text-[32px] group-hover:bg-none group-hover:block hidden uppercase max-w-[419px] font-Oxanium leading-[120%] font-medium">Fair in-game economy</div>
            <div class="z-[2] mt-6 max-w-[510px]">We always think about the fairness of all processes on the platform, so we make a fair system of earning in-game tokens</div>
            <img width="496" class="group-hover:left-[70%] group-hover:blur-[6px] group-hover:opacity-70 transition-all opacity-30 max-w-[496px] top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%] absolute z-[1]" src="/game-project/optimized/card-bg.webp" alt="">
          </div>
          <div class="w-full group card-gradient overflow-hidden transition-all rounded-[12px] relative bg-center min-h-[350px] bg-cover p-6" style="background-color: #1F2324;" >
            <div class="z-[2] text-[32px] group-hover:bg-none group-hover:hidden uppercase max-w-[349px] app-text-gradient-bg font-Oxanium leading-[120%] font-medium">Producing centre</div>
            <div class="z-[2] text-[32px] group-hover:bg-none group-hover:block hidden uppercase max-w-[349px] font-Oxanium leading-[120%] font-medium">Producing centre</div>
            <div class="z-[2] mt-6 max-w-[515px]">We are always happy to see new projects on our platform, so we provide the best methods to promote your projects</div>
            <img width="496" class="group-hover:left-[70%] group-hover:blur-[6px] group-hover:opacity-70 transition-all opacity-30 max-w-[496px] top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%] absolute z-[1]" src="/game-project/optimized/card-bg.webp" alt="">
          </div>
        </div>
      </div>
    </section>
    <!-- our mission -->
    <section>
      <div class="relative mt-[130px] max-w-[1520px] mx-auto z-10">
        <div class="uppercase font-Oxanium text-[64px] font-medium">Our mission</div>
        <div class="flex">
          <div class="text-[40px] leading-[120%] pt-12">
            <span class="text-[#FD4E07]">To promote blockchain technologies and empower users to select games tailored to their preferences.</span>
             Our platform features the most engaging games with innovative and equitable reward systems
             <div class="text-[16px] leading-[120%] mt-9">
              To make BIZZON not just one of the most attractive and popular platforms for a narrow crypto audience, but also to attract a broad mass of users unfamiliar with the cryptocurrency world in order to introduce them the most fast growing industry of our time. To teach them how to understand and use blockchain solutions based on the most widespread and at the same time the simplest application - <span class="app-text-gradient-bg">gamification</span>
             </div>
          </div>
          <img width="729" class="max-w-[729px]" src="/game-project/optimized/mission-image.webp" alt="">
        </div>
      </div>
    </section>
      <!-- game world -->
    <section class="mt-[150px] overflow-hidden">
      <div class="text-[48px] font-medium font-Oxanium uppercase text-center">
        Game World
      </div>
      <div class="flex mt-[48px] animate-walk">
        <img src="/game-project/optimized/game-landing-1.webp" alt="">
        <img src="/game-project/optimized/game-landing-2.webp" alt="">
        <img src="/game-project/optimized/game-landing-3.webp" alt="">
        <img src="/game-project/optimized/game-landing-4.webp" alt="">
        <img src="/game-project/optimized/game-landing-5.webp" alt="">
        <img src="/game-project/optimized/game-landing-6.webp" alt="">
        <img src="/game-project/optimized/game-landing-7.webp" alt="">
        <img src="/game-project/optimized/game-landing-8.webp" alt="">
        <img src="/game-project/optimized/game-landing-1.webp" alt="">
        <img src="/game-project/optimized/game-landing-2.webp" alt="">
        <img src="/game-project/optimized/game-landing-3.webp" alt="">
        <img src="/game-project/optimized/game-landing-4.webp" alt="">
        <img src="/game-project/optimized/game-landing-5.webp" alt="">
        <img src="/game-project/optimized/game-landing-6.webp" alt="">
        <img src="/game-project/optimized/game-landing-7.webp" alt="">
        <img src="/game-project/optimized/game-landing-8.webp" alt="">
        <img src="/game-project/optimized/game-landing-1.webp" alt="">
        <img src="/game-project/optimized/game-landing-2.webp" alt="">
        <img src="/game-project/optimized/game-landing-3.webp" alt="">
        <img src="/game-project/optimized/game-landing-4.webp" alt="">
        <img src="/game-project/optimized/game-landing-5.webp" alt="">
        <img src="/game-project/optimized/game-landing-6.webp" alt="">
        <img src="/game-project/optimized/game-landing-7.webp" alt="">
        <img src="/game-project/optimized/game-landing-8.webp" alt="">
      </div>
    </section>
    <!-- roadmap -->
     <section class="mt-[118px] overflow-hidden">
      <div class="max-w-[1520px] mx-auto uppercase text-[48px] font-Oxanium font-medium">
        Our RoadMap
      </div>
      <Roadmap client:load/>
     </section>
    <Footer />
  </body>
</html>

