---
import "@fontsource-variable/inter";
import "@fontsource/oxanium/500.css";
import "@fontsource/oxanium/600.css";
import "@fontsource/oxanium/800.css";
import "~/styles/global.css";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import {description, title} from '~/site'
import { ViewTransitions } from "astro:transitions";
const { generator, site } = Astro;
const image = new URL("optimized/social.webp", site);
---

<!doctype html>
<html
  lang="en"
  class="h-full bg-app-bg font-Inter motion-safe:scroll-smooth"
  data-theme="dark"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <meta
      http-equiv="cache-control"
      content="no-cache, no-store, must-revalidate"
    />
    <title>{title}</title>
    <meta name="description" content={description} />
    <ViewTransitions />
    <!-- social media -->
    <meta
      property="og:title"
      content={title}
    />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head><body class="overflow-x-hidden bg-[#0D0D0F] text-white">
    <Header />
    <div class="mx-auto max-w-[1376px] space-x-4 px-6 xl:px-0 pt-[150px] md:pt-[100px] sm:pt-[80px] md:px-0 sm:px-0">
      <div class="max-w-[1376px]">
        <div
          class="h-[450px] md:h-[309px] sm:h-[500px]  w-full bg-center md:rounded-none sm:rounded-none rounded-[12px] bg-[url(/optimized/ido-bg.webp)] sm:bg-[url(/optimized/ido-bg-sm.webp)] bg-cover p-8"
        >
          <div
            class="app-text-gradient-bg max-w-[660px] md:max-w-[50%] font-Oxanium text-[64px] md:text-[32px] sm:text-[32px] uppercase leading-[120%]"
          >
            Web3 Future Crafting Station
          </div>
          <div class="mt-6 sm:mt-4 md:mt-4 opacity-60 md:max-w-[40%]">
            Invest in your favourite games with confidence, leave the rest to us
          </div>
        </div>
        <div class="mt-[100px] md:px-4 sm:px-4">
          <div class="text-[36px] md:text-[24px] sm:text-[24px] font-medium font-Oxanium leading-[100%] uppercase">
            IDo cards are coming
          </div>
          <div class="flex sm:justify-center md:grid md:grid-cols-3  sm:grid sm:grid-cols-2 gap-4 mt-[50px]">
            <img class="w-[216px] md:w-full sm:w-full" src="/optimized/ido-card-1.webp" alt="">
            <img class="w-[216px] md:w-full sm:w-full" src="/optimized/ido-card-2.webp" alt="">
            <img class="w-[216px] md:w-full sm:w-full" src="/optimized/ido-card-3.webp" alt="">
            <img class="w-[216px] md:w-full sm:w-full" src="/optimized/ido-card-4.webp" alt="">
            <img class="w-[216px] md:w-full sm:w-full" src="/optimized/ido-card-5.webp" alt="">
            <img class="w-[216px] md:w-full sm:w-full" src="/optimized/ido-card-6.webp" alt="">
          </div>
        </div>
        <div class="min-h-[65vh] md:px-4 sm:px-4 max-h-[1200px] flex items-center">
          <div class="flex">
            <div class="text-[48px] md:shrink sm:hidden shrink-0 pr-24 font-Oxanium font-medium leading-[120%] uppercase text-[#404648]">Bizzon station</div>
            <div class="space-y-4 pl-12 max-w-[699px] border-l border-[#A3A3A3]">
              <p>
                <span class="app-text-gradient-bg">BizzonStation is a powerful platform for facilitating initial token sales.</span> Our tools empower modern cryptogaming projects to secure investments right from the start.
              </p>
              <p>
                We offer early investors the opportunity to shape the future of web3 by supporting promising game projects and reaping the benefits of early participation.
              </p>
              <p>
                <span class="app-text-gradient-bg">No intermediaries, no boundaries</span> — just a direct connection between game creators and their supporters, enabling seamless interaction through blockchain technology.
              </p>
            </div>
          </div>
        </div>
        <div class="pb-10 md:px-4 sm:px-4">
          <div class="text-[48px] sm:text-[24px] font-medium font-Oxanium uppercase">
            How it works
          </div>
          <div class="flex md:flex-wrap sm:flex-wrap gap-4 mt-[50px]">
            <div class="w-full flex flex-col items-start bg-cover bg-center p-5 bg-[url(/optimized/advantage-1.webp)] h-[400px]">
              <div class="rounded-[32px] py-3 text-[20px] font-semibold px-6 bg-white bg-opacity-20 backdrop-blur-[16px]">Developers</div>
              <div class="mt-auto -mb-5 -mx-5 py-10 px-5 bg-gradient-to-b from-[#0D0D0F00] to-[#0D0D0FB2] text-[#E9E9E9]">
                Developers can apply for token sales events through BizzonStation, offering a specified volume of tokens at a set price
                <div>
                  <button class="bg-[#FFF] hover:opacity-90 anim-btn mt-[32px] text-[#2A2A2A] py-[10px] px-[36px] w-[200px] rounded-[12px]">
                    Apply
                  </button>
                </div>
              </div>
            </div>
            <div class="w-full flex flex-col items-start bg-cover bg-center p-5 bg-[url(/optimized/advantage-2.webp)] h-[400px]">
              <div class="rounded-[32px] py-3 text-[20px] font-semibold px-6 bg-white bg-opacity-20 backdrop-blur-[16px]">Gamers</div>
              <div class="mt-auto -mb-5 -mx-5 py-10 px-5 bg-gradient-to-b from-[#0D0D0F00] to-[#0D0D0FB2] text-[#E9E9E9]">
                Bizzon users can stake their BizzonGames tokens via our
specialized BizzonPassStaking system to secure a chance to participate in upcoming IDO events
              <div>
                <button class="bg-[#FFF] hover:opacity-90 anim-btn mt-[32px] text-[#2A2A2A] py-[10px] px-[36px] w-[200px] rounded-[12px]">
                  Stake
                </button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
