---
import BizzonRating from '~/components/bizzon-rating.svelte'
import SocialLevel from '~/components/social-level.svelte'
type Data = {
  name: string,
  star_rating: {
    ratings: number,
    star_rating: number
  },
  studio: string,
  social_level: number,
  bizzon_rating: string,
  release_date: string,
  devices: string[],
  backed_by: {name: string, logo: string}[],
  description: string,
  tags: string[]
}
const data: Data = Astro.props.data
---
<div class="max-w-[778px] ml-auto md:ml-0 sm:ml-0 mt-8">
  <!-- header -->
  <div class="flex sm:grid gap-8">
    <div>
      <div class="flex space-x-2">
        <div class="text-[40px] leading-[120%] font-medium font-Oxanium">{data.name}</div>
        <div class="relative group">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0003 3.33464C6.31843 3.33464 3.33366 6.3194 3.33366 10.0013C3.33366 13.6832 6.31843 16.668 10.0003 16.668C13.6822 16.668 16.667 13.6832 16.667 10.0013C16.667 6.3194 13.6822 3.33464 10.0003 3.33464ZM1.66699 10.0013C1.66699 5.39893 5.39795 1.66797 10.0003 1.66797C14.6027 1.66797 18.3337 5.39893 18.3337 10.0013C18.3337 14.6037 14.6027 18.3346 10.0003 18.3346C5.39795 18.3346 1.66699 14.6037 1.66699 10.0013ZM9.16699 6.66797C9.16699 6.20773 9.54009 5.83464 10.0003 5.83464H10.0087C10.4689 5.83464 10.842 6.20773 10.842 6.66797C10.842 7.12821 10.4689 7.5013 10.0087 7.5013H10.0003C9.54009 7.5013 9.16699 7.12821 9.16699 6.66797ZM8.33366 10.0013C8.33366 9.54106 8.70675 9.16797 9.16699 9.16797H10.0003C10.4606 9.16797 10.8337 9.54106 10.8337 10.0013V12.5013C11.2939 12.5013 11.667 12.8744 11.667 13.3346C11.667 13.7949 11.2939 14.168 10.8337 14.168H10.0003C9.54009 14.168 9.16699 13.7949 9.16699 13.3346V10.8346C8.70675 10.8346 8.33366 10.4615 8.33366 10.0013Z" fill="white" fill-opacity="0.5"/>
          </svg>
          <div class="absolute transition-all rounded-[12px] hidden group-hover:block top-10 left- bg-[#252E37] w-[320px] p-4">
            The games displayed and the game data shown are for demonstration purposes only and do not reflect actual performance. If you are the copyright holder of the displayed games, please contact us
          </div>
        </div>
          
      </div>
      <div class="flex items-center space-x-2 mt-2">
        <div class="flex gap-[2px]">
          {
            Array.from({length: data.star_rating.star_rating}).map(x => {
              return <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.1822 5.50494L1.3972 6.19869L1.31245 6.21594C1.18415 6.25 1.06719 6.3175 0.973516 6.41154C0.879839 6.50559 0.812799 6.62281 0.779243 6.75124C0.745687 6.87966 0.746817 7.0147 0.782517 7.14255C0.818217 7.2704 0.887209 7.38648 0.982446 7.47894L4.44895 10.8532L3.63145 15.6194L3.6217 15.7019C3.61384 15.8346 3.6414 15.967 3.70153 16.0856C3.76167 16.2041 3.85223 16.3045 3.96395 16.3766C4.07566 16.4486 4.20451 16.4897 4.33731 16.4955C4.4701 16.5014 4.60207 16.4718 4.7197 16.4099L8.9992 14.1599L13.2689 16.4099L13.3439 16.4444C13.4677 16.4932 13.6023 16.5082 13.7338 16.4878C13.8652 16.4674 13.9889 16.4124 14.0921 16.3284C14.1953 16.2444 14.2744 16.1345 14.3211 16.0099C14.3678 15.8853 14.3805 15.7506 14.3579 15.6194L13.5397 10.8532L17.0077 7.47819L17.0662 7.41444C17.1498 7.31152 17.2046 7.18828 17.225 7.05729C17.2454 6.92629 17.2308 6.79223 17.1825 6.66874C17.1343 6.54525 17.0541 6.43677 16.9503 6.35433C16.8465 6.27189 16.7227 6.21844 16.5914 6.19944L11.8064 5.50494L9.66745 1.16994C9.60555 1.04434 9.50974 0.938578 9.39084 0.86462C9.27194 0.790662 9.13472 0.751465 8.9947 0.751465C8.85468 0.751465 8.71745 0.790662 8.59855 0.86462C8.47966 0.938578 8.38384 1.04434 8.32195 1.16994L6.1822 5.50494Z" fill="#FAB005"/>
              </svg>
            })
          }
          {
            data.star_rating.star_rating < 5 ? 
              Array.from({length: 5 - data.star_rating.star_rating })
              .map(el => {
                return <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.1822 5.50494L1.3972 6.19869L1.31245 6.21594C1.18415 6.25 1.06719 6.3175 0.973516 6.41154C0.879839 6.50559 0.812799 6.62281 0.779243 6.75124C0.745687 6.87966 0.746817 7.0147 0.782517 7.14255C0.818217 7.2704 0.887209 7.38648 0.982446 7.47894L4.44895 10.8532L3.63145 15.6194L3.6217 15.7019C3.61384 15.8346 3.6414 15.967 3.70153 16.0856C3.76167 16.2041 3.85223 16.3045 3.96395 16.3766C4.07566 16.4486 4.20451 16.4897 4.33731 16.4955C4.4701 16.5014 4.60207 16.4718 4.7197 16.4099L8.9992 14.1599L13.2689 16.4099L13.3439 16.4444C13.4677 16.4932 13.6023 16.5082 13.7338 16.4878C13.8652 16.4674 13.9889 16.4124 14.0921 16.3284C14.1953 16.2444 14.2744 16.1345 14.3211 16.0099C14.3678 15.8853 14.3805 15.7506 14.3579 15.6194L13.5397 10.8532L17.0077 7.47819L17.0662 7.41444C17.1498 7.31152 17.2046 7.18828 17.225 7.05729C17.2454 6.92629 17.2308 6.79223 17.1825 6.66874C17.1343 6.54525 17.0541 6.43677 16.9503 6.35433C16.8465 6.27189 16.7227 6.21844 16.5914 6.19944L11.8064 5.50494L9.66745 1.16994C9.60555 1.04434 9.50974 0.938578 9.39084 0.86462C9.27194 0.790662 9.13472 0.751465 8.9947 0.751465C8.85468 0.751465 8.71745 0.790662 8.59855 0.86462C8.47966 0.938578 8.38384 1.04434 8.32195 1.16994L6.1822 5.50494Z" fill="#888888"/>
                </svg>
              })
            : ''
          }
        </div>
        <span class="text-[#888888]">Reviews ({data.star_rating.ratings})</span>  
      </div>
    </div>
    <div class="ml-auto flex sm:space-x-4 sm:ml-0 space-x-9">
      <div class="flex items-center space-x-4">
        <BizzonRating rating="AA" />
        <span class="font-medium">Bizzon Ranking</span>
      </div>
      <div class="flex items-center space-x-4">
        <SocialLevel level={data.social_level && Math.floor(data.social_level)} />
        <span class="font-medium">Social Level</span>
      </div>
    </div>
  </div>
  <!-- details -->
  <div class="flex sm:grid sm:space-x-0 sm:gap-4 space-x-12 mt-6">
    <div class="flex space-x-2">
      <span class="text-[#B0B0B2]">Studio:</span>
      <span class="font-semibold">{data.studio}</span>
    </div>
    <div class="flex space-x-2">
      <span class="text-[#B0B0B2]">Released On:</span>
      <span class="font-semibold">{new Date(data.release_date).toLocaleDateString()}</span>
    </div>
    <div class="flex space-x-2">
      <span class="text-[#B0B0B2]">Device:</span>
      <span class="font-semibold flex space-x-2">
        {data.devices.map(device => {
          if (device.toLowerCase() === 'ios') {
            return <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8787 1.87868C12.4413 1.31607 13.2044 1 14 1C14.2652 1 14.5196 1.10536 14.7071 1.29289C14.8946 1.48043 15 1.73478 15 2C15 2.79565 14.6839 3.55871 14.1213 4.12132C13.5587 4.68393 12.7956 5 12 5C11.7348 5 11.4804 4.89464 11.2929 4.70711C11.1054 4.51957 11 4.26522 11 4C11 3.20435 11.3161 2.44129 11.8787 1.87868ZM15.5726 6.00261C15.9839 6.03131 16.7173 6.19404 17.4866 6.54423C18.2678 6.89989 19.1773 7.49017 19.8248 8.43449C19.9846 8.66755 20.0383 8.95735 19.9727 9.23222C19.907 9.50708 19.7282 9.74135 19.4803 9.87708C19.3889 9.92713 19.2957 9.96461 19.1937 10.0057C18.97 10.0957 18.7036 10.2028 18.3199 10.4971C17.8434 10.8624 17.4945 11.3357 17.5 11.9903C17.5175 13.5633 18.7354 13.8929 19.2036 14.0196C19.2598 14.0348 19.3051 14.0471 19.3363 14.0582C19.7343 14.2004 20 14.5774 20 15C20 16.3392 19.2071 17.8116 18.3386 18.8806C17.8874 19.436 17.3686 19.9422 16.8322 20.3185C16.3207 20.6775 15.6774 21 15 21C14.1077 21 13.5769 20.8443 13.1302 20.7041C13.1184 20.7005 13.1068 20.6968 13.0953 20.6932C12.7329 20.5794 12.4802 20.5 12 20.5C11.4682 20.5 11.0882 20.588 10.6694 20.6992C10.6294 20.7098 10.5883 20.7209 10.5462 20.7323C10.1466 20.8401 9.65263 20.9733 9.04224 20.9991C9.02817 20.9997 9.01409 21 9 21C8.11938 21 7.37897 20.5119 6.82414 19.9571C6.25494 19.3879 5.76025 18.6316 5.35557 17.8222C4.55015 16.2114 4 14.1838 4 12.5C4 11.1425 4.26748 9.57296 5.01307 8.30546C5.78855 6.98715 7.09161 5.99998 9 5.99998C9.80582 5.99998 10.5789 6.35613 11.0858 6.59633C11.1616 6.63227 11.2317 6.6659 11.2974 6.6974C11.4845 6.78709 11.6357 6.85959 11.7805 6.91935C11.8987 6.96811 11.9658 6.98752 11.9948 6.99517C12.0243 6.98662 12.1013 6.96384 12.2457 6.90408C12.3834 6.84715 12.4971 6.79541 12.6288 6.7355C12.7494 6.68063 12.8851 6.6189 13.068 6.54005C13.6978 6.26855 14.5974 5.92837 15.5726 6.00261ZM13.0103 8.75217C12.7679 8.85243 12.3881 8.99998 12 8.99998C11.6211 8.99998 11.2628 8.8693 11.0176 8.76812C10.8162 8.685 10.5934 8.57811 10.3934 8.48211C10.3365 8.45481 10.2814 8.42838 10.2292 8.40363C9.68106 8.14384 9.29418 7.99998 9 7.99998C7.90839 7.99998 7.21145 8.51282 6.73693 9.3195C6.23252 10.177 6 11.3574 6 12.5C6 13.8162 6.44985 15.5386 7.14443 16.9278C7.48975 17.6184 7.87006 18.1746 8.23836 18.5429C8.60573 18.9102 8.85966 18.9935 8.98501 18.9996C9.35164 18.9811 9.63774 18.9046 10.0431 18.7963C10.0797 18.7866 10.1172 18.7765 10.1559 18.7663C10.6348 18.639 11.2108 18.5 12 18.5C12.788 18.5 13.2782 18.6541 13.685 18.7821C13.6997 18.7867 13.7143 18.7913 13.7288 18.7958C14.0791 18.9057 14.3923 19 15 19C15.0726 19 15.3043 18.9475 15.6834 18.6814C16.0377 18.4328 16.4251 18.064 16.7864 17.6194C17.3139 16.9702 17.6958 16.274 17.8787 15.688C16.946 15.2633 15.524 14.2356 15.5001 12.0108L15.5 12.0087C15.4868 10.4938 16.3459 9.49039 17.1029 8.90992C17.1774 8.85281 17.2552 8.79734 17.3344 8.74399C17.1183 8.59554 16.8889 8.46962 16.6579 8.36449C16.0735 8.09845 15.5715 8.00707 15.4328 7.99772L15.4228 7.99705L15.4228 7.997C14.9668 7.96167 14.4532 8.12085 13.8597 8.37667C13.7638 8.41803 13.6401 8.47369 13.5117 8.53146C13.3329 8.6119 13.145 8.69643 13.0103 8.75217Z" fill="white"/>
                  </svg>
          }
          if (device.toLowerCase() === 'android') {
            return <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.55279 2.10579C8.04676 1.8588 8.64744 2.05903 8.89443 2.55301L9.41156 3.58727C10.2122 3.20441 11.0956 3.00022 12 3.00022C12.9044 3.00022 13.7878 3.20441 14.5884 3.58727L15.1056 2.55301C15.3526 2.05903 15.9532 1.8588 16.4472 2.10579C16.9412 2.35278 17.1414 2.95345 16.8944 3.44743L16.2404 4.75539C16.2412 4.75612 16.2419 4.75685 16.2426 4.75758C17.3679 5.8828 18 7.40892 18 9.00022V17.0002C18 17.5306 17.7893 18.0394 17.4142 18.4144C17.0391 18.7895 16.5304 19.0002 16 19.0002V21.0002C16 21.5525 15.5523 22.0002 15 22.0002C14.4477 22.0002 14 21.5525 14 21.0002V19.0002H10V21.0002C10 21.5525 9.55228 22.0002 9 22.0002C8.44772 22.0002 8 21.5525 8 21.0002V19.0002C7.46957 19.0002 6.96086 18.7895 6.58579 18.4144C6.21071 18.0394 6 17.5307 6 17.0002V9.00022C6 7.40892 6.63214 5.8828 7.75736 4.75758C7.75809 4.75685 7.75882 4.75612 7.75955 4.75539L7.10557 3.44743C6.85858 2.95345 7.05881 2.35278 7.55279 2.10579ZM9.58684 5.81011C9.44109 5.92037 9.30228 6.04109 9.17157 6.17179C8.66203 6.68133 8.30416 7.31419 8.12701 8.00022H15.873C15.6958 7.31419 15.338 6.68133 14.8284 6.17179C14.6977 6.04109 14.5589 5.92036 14.4132 5.81011C14.4037 5.8033 14.3945 5.79635 14.3853 5.78925C13.6998 5.27994 12.8643 5.00022 12 5.00022C11.1357 5.00022 10.3003 5.27994 9.61467 5.78925C9.60554 5.79634 9.59626 5.8033 9.58684 5.81011ZM16 10.0002H8V17.0002H16V10.0002ZM4 9.00022C4.55228 9.00022 5 9.44793 5 10.0002V16.0002C5 16.5525 4.55228 17.0002 4 17.0002C3.44772 17.0002 3 16.5525 3 16.0002V10.0002C3 9.44793 3.44772 9.00022 4 9.00022ZM20 9.00022C20.5523 9.00022 21 9.44793 21 10.0002V16.0002C21 16.5525 20.5523 17.0002 20 17.0002C19.4477 17.0002 19 16.5525 19 16.0002V10.0002C19 9.44793 19.4477 9.00022 20 9.00022Z" fill="white"/>
                  </svg>
          }
          if (device.toLowerCase() === 'web') {
            return <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7265 2.02612C12.6135 1.99984 12.4959 1.99311 12.3794 2.0072C12.2535 2.0025 12.127 2.00013 12 2.00013C11.873 2.00013 11.7465 2.0025 11.6207 2.0072C11.5041 1.99311 11.3866 1.99984 11.2736 2.02612C6.08984 2.39825 2 6.72158 2 12.0001C2 17.2787 6.08984 21.602 11.2736 21.9742C11.3866 22.0004 11.5041 22.0072 11.6207 21.9931C11.7465 21.9978 11.873 22.0001 12 22.0001C12.127 22.0001 12.2535 21.9978 12.3794 21.9931C12.4959 22.0072 12.6135 22.0004 12.7265 21.9741C17.9102 21.602 22 17.2787 22 12.0001C22 6.72159 17.9102 2.39828 12.7265 2.02612ZM9.62476 4.35864C7.68843 4.95987 6.06715 6.27681 5.07026 8.00013H8.37231C8.65799 6.74676 9.07752 5.52578 9.62476 4.35864ZM10.4303 8.00013C10.7798 6.64658 11.3064 5.33996 12 4.11523C12.6937 5.33996 13.2202 6.64658 13.5697 8.00013H10.4303ZM8.03369 10.0001H4.25203C4.08751 10.6394 4 11.3095 4 12.0001C4 12.6907 4.08751 13.3609 4.25204 14.0001H8.03369C7.95967 13.3381 7.92224 12.6705 7.92224 12.0001C7.92224 11.3298 7.95967 10.6622 8.03369 10.0001ZM10.0477 14.0001C9.96443 13.339 9.92224 12.6711 9.92224 12.0001C9.92224 11.3292 9.96443 10.6613 10.0477 10.0001H13.9523C14.0356 10.6613 14.0778 11.3292 14.0778 12.0001C14.0778 12.6711 14.0356 13.339 13.9523 14.0001H10.0477ZM8.37231 16.0001H5.07026C6.06715 17.7235 7.68843 19.0404 9.62476 19.6416C9.07752 18.4745 8.65799 17.2535 8.37231 16.0001ZM12 19.885C11.3064 18.6603 10.7798 17.3537 10.4303 16.0001H13.5697C13.2202 17.3537 12.6937 18.6603 12 19.885ZM14.3753 19.6416C16.3116 19.0404 17.9329 17.7234 18.9297 16.0001H15.6277C15.3421 17.2535 14.9225 18.4745 14.3753 19.6416ZM15.9663 14.0001H19.748C19.9125 13.3609 20 12.6907 20 12.0001C20 11.3095 19.9125 10.6394 19.748 10.0001H15.9663C16.0404 10.6622 16.0778 11.3298 16.0778 12.0001C16.0778 12.6705 16.0404 13.3381 15.9663 14.0001ZM15.6277 8.00013H18.9297C17.9329 6.27682 16.3116 4.95988 14.3753 4.35866C14.9225 5.52579 15.3421 6.74677 15.6277 8.00013Z" fill="white"/>
                  </svg>
          }
          if (device.toLowerCase() === 'desktop') {
            return <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M4 7C4 5.89543 4.89543 5 6 5H18C19.1046 5 20 5.89543 20 7V15C20 16.1046 19.1046 17 18 17H6C4.89543 17 4 16.1046 4 15V7ZM18 7H6V15H18V7ZM2 19C2 18.4477 2.44772 18 3 18H21C21.5523 18 22 18.4477 22 19C22 19.5523 21.5523 20 21 20H3C2.44772 20 2 19.5523 2 19Z" fill="white"/>
                    </svg>
          }
        })}
      </span>
    </div>
  </div>
  <!-- backed by -->
  <div class="flex sm:grid sm:space-x-0 sm:gap-2 items-center space-x-2 mt-6">
    <div class="text-[#B0B0B2]">Backed by:</div>
    <div class="flex sm:grid sm:grid-cols-2 items-center">
      {data.backed_by.map((v, index) => {
        if (index === 3) {
          return <div class="bg-white sm:text-[20px] sm:justify-center text-black text-[12px] px-[10px] py-1 flex items-center rounded-[12px]">
            ...+{data.backed_by.length - 3}
          </div>
        }
        if (index > 3){
          return <></>
        }
        return <div class="flex p-2 items-center space-x-1 text-[12px]">
          <img width="32" height="32" class="rounded-full" src={v.logo} alt="">
          <span>{v.name}</span>
        </div>
      })}
    </div>
  </div>
  <!-- tags -->
  <div class="flex space-x-[10px] mt-6">
    {data.tags.map(tag => <button class="anim-btn py-2 px-[10px] border border-[#464648] rounded-[12px]">{tag}</button>)}
  </div>

  <div class="text-[#B0B0B2] leading-[150%] mt-6">
    {data.description}
  </div>
</div>