---
import { Icon } from "astro-icon/components";
// import ThemeSwitcher from "~/components/theme-switcher.astro";
import type { NavItem } from "~/types";
import RequestModal from '~/components/join-request/join-request-modal.svelte'
import RequestModalBtn from '~/components/join-request/join-request-btn.svelte'
import AuthModal from '~/components/auth/auth-modal.svelte'
import AuthModalBtn from '~/components/auth/auth-modal-btn.svelte'
import TelegramIcon from '~/components/icons/TelegramIcon.svelte'
import TwitterIcon from '~/components/icons/TwitterIcon.svelte'
import SmMenuBtn from '~/components/auth/sm-menu-btn.svelte'
import Footer from "./footer.astro";

const githubPrefix = ''
const navItems: Array<NavItem> = [
  { title: "Ranking", url: githubPrefix + "/ranking" },
  { title: "Staking", url: githubPrefix + "/staking" },
  { title: "GameHub", url: githubPrefix + "/gamehub" },
  { title: "IDO", url: githubPrefix + "/ido" },
  { title: "Blog", url: githubPrefix + "/blog" },
  { title: "About", url: githubPrefix + "/about" },
  { title: "Whitepaper", url: githubPrefix + "/whitepaper" },
];
let currentUrl = Astro.url.pathname
const transparent = Astro.props.transparent
---

<header
  id="page-header"
  class={`absolute left-[50%] ${transparent ? 'header-gradient' : 'bg-[#0D0D0F]' }  translate-x-[-50%] font-Inter  min-h-[100px] sm:min-h-[50px] text-[20px] w-full top-0 z-[100] header-bg px-8 md:px-4 sm:px-4 py-4 text-white`}
>
  <div class="flex overflow-hidden items-center justify-between max-w-[1376px] mx-auto">
    <a class="flex items-center gap-3 hover:!text-default" href="/">
      <img width="102" height="72" class="max-w-[102px] md:hidden sm:hidden" src="/media/logo.svg" alt="logo">
      <img width="215" height="72" class="max-w-[215px] hidden md:inline" src="/optimized/logo-sm.webp" alt="logo">
      <img width="161" height="72" class="max-w-[161px] hidden sm:inline" src="/optimized/logo-sm.webp" alt="logo">
    </a>
    <div class="ml-[64px]">
      <div class="flex items-center justify-between gap-6 md:gap-4">
        <nav class="sm:hidden md:hidden block">
          <ul class="flex items-center gap-[32px]">
            {
              navItems.map(({ title, url }) => (
                <li>
                  <a class={`text-[16px] transition-all hover:opacity-80 pb-1 ${currentUrl.includes(url) ? 'border-b-2 border-[#F97C0E]' : ''}`} href={url}>
                    {title}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
        <div class="hidden md:block">
          <RequestModalBtn client:idle />
        </div>
        <div class="hidden md:block">
          <AuthModalBtn client:only />
        </div>
        <button
          id="open-nav-button"
          type="button"
          class="btn hidden md:block sm:block"
          aria-label="Navigation"
        >
          <Icon name="mdi:menu" class="size-8" />
        </button>
      </div>
  
      <div id="menu-modal" class="modal hidden" aria-hidden="true">
        <div class="fixed w-full h-full left-0 top-0 bg-[rgba(0,0,0,0.4)]"></div>
        <div  class="fixed w-[100%] right-0 top-0 overflow-auto h-[100vh] bg-[#0D0D0F] px-8 sm:px-0 md:px-0 py-4 sm:py-0 text-default">
          <div class="space-y-4" role="dialog" aria-modal="true">
            <header class="flex px-4 items-center justify-between">
              <div class="flex justify-center py-[20px]">
                <img width="206" height="45" class="max-w-[201px] sm:max-w-[161px]" src="/optimized/logo-sm.webp" alt="logo">
              </div>
              <button
                id="close-nav-button"
                type="button"
                class="btn"
                aria-label="Close navigation"
              >
                <Icon name="mdi:close" class="size-10" />
              </button>
            </header>
          </div>
          <div class="flex justify-center px-4">
            <SmMenuBtn client:only />
          </div>
          <nav>
              <ul class="flex flex-col items-center">
                {
                  navItems.map(({ title, url }) => (
                    <li class="border-b w-full flex">
                      <a class={`w-full p-4`} href={url}>
                        {title}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </nav>
            <div class="mt-[40px] flex flex-col items-center">
              <RequestModalBtn client:load/>
            </div>
            <Footer />
          </div>
        </div>
      </div>
      <div class="sm:hidden md:hidden ml-[64px] flex space-x-4 items-center">
        <a target="_blank" href="https://t.me/BIZZONGames" class="13-inch:hidden cursor-pointer  hover:opacity-70 active:scale-95 transition-all"><TelegramIcon/></a>
        <a target="_blank" href="https://x.com/bizzongames" class="13-inch:hidden cursor-pointer hover:opacity-70  active:scale-95 transition-all"><TwitterIcon /></a>
        <div class="shrink-0">
          <RequestModalBtn client:load/>
        </div>
        <div>
          <AuthModalBtn client:only/>
        </div>
      </div>
    </div>
  </div>
</header>
<RequestModal client:load />
<AuthModal client:only />


<script>
  import MicroModal from "micromodal";
  import invariant from "tiny-invariant";
  document.addEventListener('astro:after-swap', setupHeader)
  setupHeader()
  function setupHeader() {
    const menuModalId = "menu-modal";
  
    const header = document.querySelector("#page-header") as HTMLElement;
    const page = document.documentElement;
    const menu = document.querySelector(`#${menuModalId} ul`);
    const openNavButton = document.querySelector("#open-nav-button");
    const closeNavButton = document.querySelector("#close-nav-button");
  
    invariant(header, "header should not be null");
    invariant(menu, "menu should not be null");
    invariant(openNavButton, "openNavButton should not be null");
    invariant(closeNavButton, "closeNavButton should not be null");
  
    const openMenu = () => {
      MicroModal.show(menuModalId, { disableScroll: true });
    };
  
    const closeMenu = () => {
      setTimeout(() => {
        MicroModal.close(menuModalId);
      }, 400)
    };
  
    openNavButton.addEventListener("click", openMenu);
    closeNavButton.addEventListener("click", closeMenu);
  
    document.addEventListener("scroll", () => {
      const d = page.clientHeight - page.scrollTop - header.offsetHeight;
      header.classList.toggle("fixed-header", d < 0);
    });
  
    menu.addEventListener("click", (event) => {
      if ((event.target as HTMLElement).tagName === "A") {
        closeMenu();
      }
    });
  }

</script>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
    @apply text-default;
  }
  .modal.is-open {
    @apply block;
  }
  .header-gradient {
    background: linear-gradient(180deg, #010101 0%, rgba(1, 1, 1, 0.00) 100%);
  }
</style>
