---
import { getPublicProjects } from "~/services";
import type { GetStaticPaths } from "astro";
import "@fontsource-variable/inter";
import "@fontsource/oxanium/500.css";
import "@fontsource/oxanium/600.css";
import "@fontsource/oxanium/800.css";
import "~/styles/global.css";
import GameTabs from './game-tabs-astro.astro'
import AddToList from './AddToList.svelte'
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import GamesSlider from "~/components/games-slider.astro";
import GamesInfo from "~/components/games-info.astro";
import {description, title} from '~/site'
const { generator, site } = Astro;
import { ViewTransitions } from "astro:transitions";
const image = new URL("optimized/social.webp", site);

export const getStaticPaths = (async () => {
  const items = await getPublicProjects()
  return items.projects.map((game) => {
    return {
      params: {
        game_name: game.id,
      },
      props: {
        data: {
          ...game,
        },
      },
    };
  });
}) satisfies GetStaticPaths;
const { game_name } = Astro.params;
const { data } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="bg-app-bg h-full font-Inter motion-safe:scroll-smooth"
  data-theme="dark"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <meta
      http-equiv="cache-control"
      content="no-cache, no-store, must-revalidate"
    />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta
      property="og:title"
      content={title}
    />
    <ViewTransitions />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body class="overflow-x-hidden bg-[#0D0D0F] text-white">
    <Header />
    <div class="pt-[150px] sm:pt-[100px] max-w-[1376px] sm:px-4 mx-auto px-6 xl:px-0">
      <!-- breadcrumbs -->
      <!-- game -->
      <div class="pl-[100px] md:pl-6 sm:pl-2 flex sm:flex-wrap space-x-2 items-center">
        <a href="/" class="text-[#888888] hover:opacity-80">Home</a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.91056 4.41083C7.23597 4.08539 7.76357 4.08539 8.08898 4.41083L13.0886 9.41083C13.414 9.73626 13.414 10.2639 13.0886 10.5893L8.08898 15.5893C7.76357 15.9148 7.23597 15.9148 6.91056 15.5893C6.58515 15.2639 6.58515 14.7363 6.91056 14.4108L11.321 10.0001L6.91056 5.58934C6.58515 5.2639 6.58515 4.73626 6.91056 4.41083Z"
            fill="#888888"></path>
        </svg>
        <a href="/gamehub" class="text-[#888888] hover:opacity-80"
          >GameHub</a
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.91056 4.41083C7.23597 4.08539 7.76357 4.08539 8.08898 4.41083L13.0886 9.41083C13.414 9.73626 13.414 10.2639 13.0886 10.5893L8.08898 15.5893C7.76357 15.9148 7.23597 15.9148 6.91056 15.5893C6.58515 15.2639 6.58515 14.7363 6.91056 14.4108L11.321 10.0001L6.91056 5.58934C6.58515 5.2639 6.58515 4.73626 6.91056 4.41083Z"
            fill="white"></path>
        </svg>
        <a class="uppercase">{data.name}</a>
      </div>
      <div class="flex items-start justify-center space-x-8 mt-[30px]">
        <div class="overflow-hidden">
          <!-- slider -->
          <GamesSlider data={data} />
          <!-- buttons md sm -->
          <div class="hidden md:block sm:block space-y-[10px] mt-6">
            <a
              href={""}
              target="_blank"
              class="w-full text-black justify-center font-medium bg-white hover:bg-[#1CC141] flex items-center space-x-2 hover:text-white py-2 active:scale-95 active:bg-[#17B23A] transition-all px-[36px] rounded-[12px]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M7 4V20L20 12L7 4Z"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              <span> Play</span>
            </a>
            <!-- follow btn -->
            <a
              href={""}
              target="_blank"
              class="w-full justify-center font-medium bg-[#272727] flex items-center space-x-2 text-white py-[10px] active:scale-95 active:bg-[#272727] transition-all px-[36px] rounded-[12px]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z"
                  fill="white"></path>
              </svg>
              <span> Follow</span>
            </a>
            <!-- add to list btn -->
             <AddToList game_id={game_name} client:load/>
            </div>
          <!-- info -->
          <GamesInfo game_id={data.id} />
          <div class="max-w-[778px] game-tabs ml-auto md:ml-0 sm:ml-0 mt-8">
            <GameTabs game_id={data.id} />
          </div>
        </div>
        <!-- side card -->
        <div class="sticky md:hidden sm:hidden z-50 shrink-0 top-[105px] w-[300px]">
          <img class="rounded-[16px]" src={data.covers.find(cover => cover.cover_type === 'thumbnail')?.url} alt="" />
          <div class="space-y-[10px] mt-6">
            <a
              href={""}
              target="_blank"
              class="w-full text-black justify-center font-medium bg-white hover:bg-[#1CC141] flex items-center space-x-2 hover:text-white py-2 active:scale-95 active:bg-[#17B23A] transition-all px-[36px] rounded-[12px]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M7 4V20L20 12L7 4Z"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              <span> Play</span>
            </a>
            <!-- follow btn -->
            <a
              href={""}
              target="_blank"
              class="w-full justify-center font-medium bg-[#272727] flex items-center space-x-2 text-white py-[10px] active:scale-95 active:bg-[#272727] transition-all px-[36px] rounded-[12px]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z"
                  fill="white"></path>
              </svg>
              <span> Follow</span>
            </a>
            <!-- add to list btn -->
           <AddToList game_id={game_name} client:load/>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>

