---
import "@fontsource-variable/inter";
import "@fontsource/oxanium/500.css";
import "@fontsource/oxanium/600.css";
import "@fontsource/oxanium/800.css";
import "~/styles/global.css";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import { ViewTransitions } from "astro:transitions";
const { generator, site } = Astro;
const image = new URL("optimized/social.webp", site);
import {description, title} from '~/site'
---

<!doctype html>
<html
  lang="en"
  class="h-full bg-app-bg font-Inter motion-safe:scroll-smooth"
  data-theme="dark"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <meta
      http-equiv="cache-control"
      content="no-cache, no-store, must-revalidate"
    />
    <title>{title}</title>
    <meta name="description" content={description} />
    <ViewTransitions />
    <!-- social media -->
    <meta
      property="og:title"
      content={title}
    />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head><body class="overflow-x-hidden bg-[#0D0D0F] text-white">
    <Header />
    <div class="mx-auto select-none max-w-[912px] md:px-4 sm:px-4 pt-[150px] sm:pt-[100px]">
      <div class="text-[48px] md:text-[36px] sm:text-[32px] font-medium font-Oxanium leading-[120%]">
        Privacy Policy
      </div>
      <div class="mt-[50px]">
        <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">1. Introduction</div>
        <div class="mt-6 space-y-6 text-[#B0B0B2]">
          <p>
            Before accessing or utilizing our Products & Services, which encompass the Websites defined herein, collectively referred to as the “Service,” kindly peruse this Privacy Policy (“Privacy Policy”). This document dictates the categories of information and data we gather, as well as the manner in which we utilize and distribute said information. Your entitlement to access and utilize the Service is contingent upon your acceptance of the Terms of Service, accessible via the following link: https://www.bizzon.io (“Terms of Service”), which incorporate the provisions of the Privacy Policy delineated below. The Service is operated by BizzonGames (“Company”). We utilize your data for the provision and enhancement of the Service. By engaging with the Service, you implicitly consent to the collection and utilization of information in accordance with the stipulations outlined herein. In the absence of specific definitions within this Privacy Policy, the terminology employed herein retains the same connotations as defined in our Terms of Service.
          </p>
        </div>
      </div>
      <div class="mt-[50px]">
        <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">2. Definitions and Glossary</div>
        <div class="mt-6 space-y-6 text-[#B0B0B2]">
          <p>
            Unless expressly stated otherwise, the capitalized terms herein will have the following meanings:
            <ul class="list-disc pl-9">
              <li>Cookies – constitute small files that are stored on your Device.</li>
              <li>Device – refers to either a computer or a mobile device.</li>
              <li>Data Controller – pertains to a natural or legal person who, either solely or jointly with others, determines the objectives and methods of processing any personal data. In the context of this Privacy Policy, we function as the Data Controller for your data.</li>
              <li>Data Processors – also known as Service Providers, refer to any natural or legal entities tasked with processing data on behalf of the Data Controller. We may engage the services of various Service Providers to facilitate more efficient data processing.</li>
              <li>Data Subject – denotes any living individual who serves as the subject of Personal Data.</li>
              <li>Personal Data – encompasses information about a living individual that enables their identification from said data or in combination with other data either in our possession or likely to be acquired.</li>
              <li>Service – encompasses the services provided on BizzonGames website, applications, wallets etc.</li>
              <li>Usage Data – refers to data automatically collected, either generated through the use of the Service or derived from the Service infrastructure itself (e.g., page visit duration).</li>
              <li>User – denotes an individual utilizing our Service, corresponding to the Data Subject, who is the focus of Personal Data.</li>
              <li>Websites – denote the web pages located at www.bizzon.io.</li>
            </ul>
            <span class="block mt-4">
              The aforementioned definitions shall maintain their meanings irrespective of whether they are expressed in the singular or plural form.
            </span>
          </p>
        </div>
      </div>
      <div class="mt-[50px]">
        <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">3. The Data Controller</div>
        <div class="mt-6 space-y-6 text-[#B0B0B2]">
          <p>
            “Company” is the controller of your Personal Data.
          </p>
        </div>
      </div>
      <div class="mt-[50px]">
        <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">4. Information Collection and Use</div>
        <div class="mt-6 space-y-6 text-[#B0B0B2]">
          <p>
            We gather multiple categories of information for diverse objectives aimed at delivering and enhancing our Service for your benefit.
          </p>
        </div>
      </div>
      <div class="mt-[50px]">
        <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">5. Types of Data Collected</div>
        <div class="mt-6 space-y-6 text-[#B0B0B2]">
          <p>
            Personal Data:
            During your utilization of our Service, we may request that you furnish us with specific personally identifiable information that can be utilized to reach out to you or ascertain your identity. This may encompass your email address, first name, last name, as well as Cookies and Usage Data.
          </p>
          <p>
            Usage Data:
            Additionally, we may compile information that your browser transmits whenever you access our Service, or when you connect to the Service through a Device. This Usage Data may entail details such as your computer's Internet Protocol (IP) address, browser type, browser version, the pages of our Service visited by you, the date and time of your visit, the duration of your stay on those pages, unique Device identifiers, and other diagnostic data. When accessing the Service through a Device, this Usage Data may also incorporate particulars such as the type of Device utilized, your Device's unique ID, your Device's IP address, your operating system, the type of Internet browser employed, unique Device identifiers, and additional diagnostic data.
          </p>
          <p>
            Tracking Cookies Data:
            We employ cookies and analogous tracking technologies to monitor the activity on our Service and retain specific information. Cookies are comprised of a small amount of data, potentially including an anonymous unique identifier. They are transmitted to your browser from a website and stored on your Device. Moreover, we employ other tracking technologies like beacons, tags, and scripts to accumulate and monitor information, thereby enhancing and analyzing our Service. You possess the option to instruct your browser to decline all cookies or to notify you when a cookie is being sent. Nonetheless, if you opt not to accept cookies, certain portions of our Service may be inaccessible to you. Examples of Cookies utilized include:
            <ul class="block list-disc -mt-4 pl-9">
              <li>Session Cookies: These are employed to facilitate the operation of our Service.</li>
              <li>Preference Cookies: These are utilized to recollect your preferences and various settings.</li>
              <li>Security Cookies: These serve security-related purposes</li>
            </ul>
          </p>


          
        </div>
      </div>
      <div class="mt-[50px]">
        <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">6. Use of Data</div>
        <div class="mt-6 space-y-6 text-[#B0B0B2]">
          <p>
            As a necessity of the contract to which you are a party and legitimate Interests of the Data Controller, the "Company" utilizes the gathered Personal Data: email address, first name and last name, along with Cookies and Usage data for various lawful purposes, which include:
          </p>
          <p>
            To provide Service, uphold Service, inform you about alterations to your Service, enable your engagement in interactive features of your Service, provide customer support for your Service, gather analysis or valuable insights to enhance your Service, monitor the usage of your Service, identify, prevent, and resolve technical issues for your Service, execute our obligations and enforce our rights arising from billing and collections related to your Service, furnish you with notifications regarding your account and/or subscription, such as expiration and renewal notices related to your Service, provide you with updates, special offers, and general information about goods, services, and events similar to those previously purchased or inquired about, unless you opted out, related to your Service or to fulfill any other purposes for which you provide the information when signing up or using your Service.
          </p>
        </div>
      </div>

      <div class="mt-[50px]">
        <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">7. Retention of Data</div>
        <div class="mt-6 space-y-6 text-[#B0B0B2]">
          <p>
            We shall retain your Personal Data solely for the duration necessary to fulfill the purposes delineated in this Privacy Policy. Your Personal Data will be retained and utilized to the extent indispensable for adherence to our legal obligations (e.g., if retention of your data is requisite for compliance with applicable laws), resolution of disputes, and enforcement of our legal agreements and policies. Personal Data processed based on your consent shall be preserved for the duration of the pertinent consent's validity and until the expiry of claims arising from the Service. Furthermore, Usage Data shall be retained for internal analysis objectives. Usage Data is typically preserved for a shorter duration, unless its retention is imperative for enhancing Service security or functionality, or if legal obligations mandate its prolonged retention.
          </p>
        </div>
      </div>
      <div class="mt-[50px]">
        <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">8. Disclosure of Data</div>
        <div class="mt-6 space-y-6 text-[#B0B0B2]">
          <p>
            We reserve the right to disclose the Personal Data you furnish under the following circumstances: when mandated by law or in response to legitimate requests by public authorities; in the event of our involvement in a merger, acquisition, or asset sale, alongside our subsidiaries; to our subsidiaries, affiliates, and employees; to contractors, service providers, and other third parties engaged in supporting our business operations; to fulfill the specific purpose for which you provided the data; for the purpose of featuring your company's logo on our Website; and with your explicit consent in all other scenarios. We do not engage in the sale or unauthorized sharing of your Personal Data, except as explicitly detailed in this Privacy Policy.
          </p>
        </div>
      </div>
      <div class="mt-[50px]">
        <div class="text-[32px] font-medium leading-[120%] md:text-[24px] sm:text-[20px]">9. Service Providers</div>
        <div class="mt-6 space-y-6 text-[#B0B0B2]">
          <p>
            We may engage third-party entities and individuals, referred to as "Service Providers," to aid in facilitating our Service. These Service Providers may act on our behalf, provide services related to our Service, or assist us in analyzing the usage patterns of our Service. Such third parties are granted access to your Personal Data solely to execute these tasks on our behalf. They are bound by obligation to refrain from disclosing or utilizing your Personal Data for any other purposes.
          </p>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>

